In [3]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
import os
from supervised.automl import AutoML

## Firstly, let's load in our data and convert to CSV

In [4]:
data = pd.read_excel('data/FrontiersDS.xlsx', sheet_name='Wide')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 70 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   86 non-null     object
 1   Unnamed: 1   85 non-null     object
 2   Unnamed: 2   85 non-null     object
 3   Unnamed: 3   84 non-null     object
 4   Unnamed: 4   85 non-null     object
 5   Unnamed: 5   28 non-null     object
 6   Unnamed: 6   85 non-null     object
 7   Unnamed: 7   85 non-null     object
 8   Unnamed: 8   58 non-null     object
 9   Unnamed: 9   85 non-null     object
 10  Unnamed: 10  28 non-null     object
 11  Unnamed: 11  55 non-null     object
 12  Unnamed: 12  58 non-null     object
 13  Unnamed: 13  28 non-null     object
 14  Unnamed: 14  84 non-null     object
 15  Unnamed: 15  31 non-null     object
 16  Unnamed: 16  58 non-null     object
 17  Unnamed: 17  28 non-null     object
 18  Unnamed: 18  85 non-null     object
 19  Unnamed: 19  84 non-null     object
 20  Unnamed: 20  58 non-null     object
 21  Unnamed: 21  31 non-null     object
 22  Unnamed: 22  28 non-null     object
 23  Unnamed: 23  55 non-null     object
 24  Unnamed: 24  85 non-null     object
 25  Unnamed: 25  55 non-null     object
 26  Unnamed: 26  85 non-null     object
 27  Unnamed: 27  28 non-null     object
 28  Unnamed: 28  55 non-null     object
 29  Unnamed: 29  85 non-null     object
 30  Unnamed: 30  28 non-null     object
 31  Unnamed: 31  85 non-null     object
 32  Unnamed: 32  28 non-null     object
 33  Unnamed: 33  28 non-null     object
 34  Unnamed: 34  28 non-null     object
 35  Unnamed: 35  55 non-null     object
 36  Unnamed: 36  58 non-null     object
 37  Unnamed: 37  28 non-null     object
 38  Unnamed: 38  28 non-null     object
 39  Unnamed: 39  28 non-null     object
 40  Unnamed: 40  55 non-null     object
 41  Unnamed: 41  57 non-null     object
 42  Unnamed: 42  31 non-null     object
 43  Unnamed: 43  28 non-null     object
 44  Unnamed: 44  55 non-null     object
 45  Unnamed: 45  55 non-null     object
 46  Unnamed: 46  31 non-null     object
 47  Unnamed: 47  28 non-null     object
 48  Unnamed: 48  28 non-null     object
 49  Unnamed: 49  55 non-null     object
 50  Unnamed: 50  31 non-null     object
 51  Unnamed: 51  28 non-null     object
 52  Unnamed: 52  28 non-null     object
 53  Unnamed: 53  28 non-null     object
 54  Unnamed: 54  28 non-null     object
 55  Unnamed: 55  31 non-null     object
 56  Unnamed: 56  28 non-null     object
 57  Unnamed: 57  28 non-null     object
 58  Unnamed: 58  28 non-null     object
 59  Unnamed: 59  28 non-null     object
 60  Unnamed: 60  28 non-null     object
 61  Unnamed: 61  28 non-null     object
 62  Unnamed: 62  28 non-null     object
 63  Unnamed: 63  28 non-null     object
 64  Unnamed: 64  28 non-null     object
 65  Unnamed: 65  28 non-null     object
 66  Unnamed: 66  28 non-null     object
 67  Unnamed: 67  27 non-null     object
 68  Unnamed: 68  28 non-null     object
 69  Unnamed: 69  28 non-null     object
dtypes: object(70)
memory usage: 47.7+ KB

In [6]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69
0,The data in this sheet was used for the formul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Species,Strain,Samples,Ethyl Acetate,Ethanol,"Propanoic acid, ethyl ester",2-Pentanone,Decane,Methyl Isobutyl Ketone,Amylene hydrate,...,1-Dodecanol,Methyl tetradecanoate,2-Pentadecanone,"Tetradecanoic acid, ethyl ester",Hexadecanal,n-Tridecan-1-ol,1-Tetradecanol,n-Pentadecanol,1-Hexadecanol,Indole
3,SA,SA_A,SA.A_TSB_A,465374,1027715,NaN,1289650,800581,324424,73015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SA,SA_A,SA.A_TSB_B,193151,1050974,NaN,504113,294680,189630,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN